.smart-watches{
	height: fit-content;
	margin-top: 70px;
	padding-bottom: 100px;
}
.smart-watches h1{
	margin-bottom: 20px;
}
.smart-watches > .container{
	width: 80%;
	margin: auto;
	height: fit-content;
	margin-bottom: 1650px;
}
.rating{
	font-size: 13px;
	color: rgb(211, 155, 1);
	padding: 5px;
}
.count-rating{
	font-size: 15px;
	font-weight: bolder;
	color: gray;
}
/*loader */
.loader{
	display: none;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100vh;
	background-color: #222222;
	z-index: 10000;
}
.loader img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.smart-watches .items{
	width: 23%;
	height: 365px;
	float: left;
	border: 0.001cm solid lightgray;
	margin-left: 5px;
	margin-bottom: 50px;
}
.smart-watches .item{
	width: 100%;
	height: 350px;
}
.item img{
	width: 100%;
	height: 230px;
}
.item .name{
	font-size: 20px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 10px;
}
.item .name a{
	text-decoration: none;
	color: black;
	font-weight: bolder;
}
.item .price{
	font-size: 15px;
	margin-right: 5px;
	margin-left: 5px;
	font-weight: bolder;
	color: gray;
	margin-top: 10px;
}
.item .oldprice{
	font-size: 15px;
	margin-right: 5px;
	margin-left: 5px;
	font-weight: bolder;
	color: gray;
	margin-top: 1px;
}
.items .save{
	background-color: #a10e2c;
	font-size: 19px;
	color: white;
	padding: 5px;
	margin-top: 20px;
}
