<!DOCTYPE html>
<html lang="en">
	<head>
	    {% load static %}
		<link rel="icon" sizes="16x16" type="image/png" href="{% static 'img/favicon.ico' %}">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css"  />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href="{% static 'css/base.css' %}">
	    <meta charset="UTF-8">
	    {% if title %}
	        <title>Daraz Spider | {{ title | slice:7 }}</title>
	    {% else %}
	        <title>Daraz Spider | home</title>
	    {% endif %}
	</head>
	<body>
		<header>
		    <div class="container">
		        <h1> Daraz Spider </h1>
		        <div class="nav-link" >
		            <a onclick="my()" style="color: #c41438;" href="/home"><i class="fas fa-home"></i></a>
		        </div>
		</header>
		<img class="spider" src={% static 'img/spider.png' %}>
		{% block body %}
		{% endblock %}
		<div class="footer">
			<p class="primary">Daraz Spider | educational</p>
			<p class="secondary">Developed by Mahadi Hasan Tarunno</p>
		</div>
	</body>
</html>
