{% extends 'spider/base.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/headphones.css' %}">
<div class="loader">
	<img src="{% static 'img/loader.gif' %}">
</div>
<div class="headphones-brand">
	<div class="container">
		<h1>Headphones</h1>
		{% for item in data %}
			<div class="items">
				<div class="item">
					<img src={{ item.image }}>
					<p class="name"><a href="{{ item.Product_link }}" target="_blank">{{ item.Product | slice:40 }}...</a></p>
					<p class="price">Price Now: {{ item.Price_now }}</p>
					<p class="oldprice">Old Price: {{ item.Old_price }}</p>
					<p style="display:inline" class="rating" data-rating={{item.rating}}></p>
					<i style="font-size:13px; color:gray;" class="fa fa-user" aria-hidden="true"></i>
					<p style="display:inline" class="count-rating">{{item.count_rating}}</p>
					<p class="save">Save: {{ item.Save }}</p>
				</div>
			</div>
		{% endfor %}
	</div>
	<script>
		var rating = document.querySelectorAll('.headphones-brand .rating')
		rating.forEach((item, index) => {
			var ratingInt = parseInt(item.dataset.rating)
			var ratingFloat = parseFloat(item.dataset.rating)
			var extra = ratingFloat - ratingInt
			for(var i=1; i<=ratingInt; i++){
				item.innerHTML += `<i class="fa fa-star" aria-hidden="true"></i>`
			}
			if(extra >= 0.5){
				item.innerHTML += `<i class="fa fa-star-half" aria-hidden="true"></i>`
			}
		})
	</script>
</div>
<script type="text/javascript">
	var loader_gif = document.querySelector('.loader');
	function my(){
		loader_gif.style.display = 'block';
	}
</script>
{% endblock %}
